@tailwind base;
@tailwind components;
@tailwind utilities;

*{margin: 0;padding: 0;box-sizing: border-box;font-family: 'Poppins', sans-serif;}
.text-xsm{font-size: 12px;}

body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.shadow-custom{box-shadow: 0px 0px 36px 10px #efefef;}

body{background-color: black;overflow: hidden;}

.restrict-scroll::-webkit-scrollbar{display: none;}